<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <form th:method="POST" th:action="@{/registration}" th:object="${user}" class="col-md-6 offset-md-3">
    <div class="form-group">
      <label for="username">Введите имя пользователя: </label>
      <input type="text" th:field="*{username}" class="form-control" id="username"/>
      <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    </div>
    <div class="form-group">
      <label for="password">Введите пароль: </label>
      <input type="password" th:field="*{password}" class="form-control" id="password"/>
      <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </div>
    <div class="form-group">
      <label for="email">Введите email: </label>
      <input type="email" th:field="*{email}" class="form-control" id="email"/>
      <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    </div>
    <button type="submit" class="btn btn-primary">Sign up!</button>
  </form>
</div>

</body>
</html>
